* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
}

canvas.webgl {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
}

.form-contaier {
	position: absolute;
	z-index: 1;
	color: aliceblue;
}

/* select styles */
.btn-select {
	width: 250px;
	background-color: #0d0d13;
}
.default-value {
	display: block;
	padding: 0.71em 1.5em;
}

.color-list-div {
	width: 250px;
	height: 300px;
	overflow-y: scroll;
	box-shadow: 0 0 5px #191924;
}

#list-container {
	transition: all 0.2s;
}

.hide {
	display: none;
}

.select-items {
	display: flex;
	background-color: #0d0d13;
	gap: 1em;
	align-items: center;
	padding: 0.5em 1em;
	border-bottom: 1px solid black;
	transition: all 0.2s;
}
.select-img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.select-items:hover {
	background-color: #1e1e2c;
}
